
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #000022;
}
h1 {
  color: aliceblue;
}

// individual post view
.card-img-top {
  height: 20%;
}
.card {
  background-color: #FFA69E;
  width: 90%;
  margin: 10%;

}
.card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.card-title,
.card-text {
  color: #000022;
}
// navigation
.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

/* The hero image */
body, html {
    height: 100%;
    width: 100%;
}
.hero-image {
    background-image: linear-gradient(180deg, #000022 ,transparent 40%, #000022), url('./../img/pexels-photo-706924.jpeg');
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    margin: none;
    border-radius: 2%;
}
.hero-text {
    text-align: center;
    padding-top: 25%;
    left: 35%;
    color: aliceblue;
}
// about page
.about-main {
  background-image: linear-gradient(180deg, #000022 ,transparent 40%, #000022), url('./../img/pexels-photo-573299.jpeg');
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  margin: none;
  border-radius: 2%;
}
.about-container {
  display: flex;
  width:100%;
  flex-direction: row;
  justify-content: center;
}
.about-container  h4 {
  color:dimgrey;
  font-weight: bold;
}
.about-container  p {
  color:aliceblue;
}
.about-left {
  justify-content: flex-start;
  width: 40%;
  height: 300px;
  background: #FFA69E;
  margin: 10px;
  border-radius:2%;
  overflow:hidden;
}
.about-right {
  justify-content: flex-end;
  width: 40%;
  height: 300px;
  background-color: #FFA69E;
  margin: 10px;
  border-radius:2%;
  overflow: hidden;
}
.about-text{
  padding: 5%;
}
// blog posts in list

.listPost {
  position: relative;
  display:flex;
  flex-wrap:wrap;
  background-color: #FFA69E;
  padding: 15px;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}
.listPost:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}
.listPost a {
  color: white;
  transition: all .3s ease-in-out;
}
.listPost img {
  border-radius: 5px;
  border-style: solid;
}
.listPost a:hover {
  color: #F8333C;
  text-decoration: none;
}


// -----------bootstrap stuff.....


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}


.example-2 {
  .wrapper {
    // background: url(https://www.google.ca/search?q=500x500+image&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi9z6fli_DZAhUOzmMKHbkcCWQQ_AUICigB&biw=1377&bih=591#imgrc=cxLp0QpuuPUpWM:) center / cover no-repeat;
    &:hover {
      .menu-content {
        span {
          transform: translate(-50%, -10px);
          opacity: 1;
        }
      }
    }
  }
  .header {
    @include cf;
    color: $white;
    padding: 1em;
    .date {
      float: left;
      font-size: 12px;
    }
  }
  .menu-content {
    float: right;
    li {
      margin: 0 5px;
      position: relative;
    }
    span {
      transition: all 0.3s;
      opacity: 0;
    }
  }
  .data {
    color: $white;
    transform: translateY(calc(70px + 4em));
  }
  .title {
    a {
      color: $white;
    }
  }
  .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: $white;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}
